mat-card.margin-bottom.mat-card.mat-focus-indicator{
    margin-bottom: 20px;
}

.margin-bottom {
    margin-bottom: 16px;
  }
  
  #wrapper{
    display: flex;
    justify-content: center;
  }
  
  #submit-btn{
    background-color: #28a745;
  }
  
  .mat-form-field-infix {
    max-width: 100px !important;
  }