h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.splash {
  text-align: center;
  font-size: 20px;
}

img{
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}
