<app-container>
  <h1>Medication Statement</h1>

  <div class="splash">
    A MedicationStatement may indicate that the patient may be taking the
    medication now or has taken the medication in the past or will be taking the
    medication in the future. The source of this information can be the patient,
    significant other (such as a family member or spouse), or a clinician. A
    common scenario where this information is captured is during the history
    taking process during a patient visit or stay. The medication information
    may come from sources such as the patient's memory, from a prescription
    bottle, or from a list of medications the patient, clinician or other party
    maintains.
    <img
      src="assets\medic.png"
    />
  </div>
</app-container>
